/* icons */
.btnLeerMas {
    display: inline-flex;
    padding: 2px 16px;
    justify-content: center;
    align-items: center;
    border-radius: 6px;
    border: 1px solid var(--Tinta-oscuro, #000);
    background: var(--Secundary-claro, #EEF294);

    /* SOMBRA BOTON */
    box-shadow: 1px 1px 2px 0px #000;

    &:hover {
        background: #00000000;
    }

    & p {
        color: var(--Tinta-oscuro, #000);
        text-align: center;
        font-family: Montserrat;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
}

body{
    background-color: burlywood;
}